<!--
  ~ index.html
  ~ Copyright (c) 2020 james@firefly-iii.org
  ~
  ~ This file is part of Firefly III (https://github.com/firefly-iii).
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Firefly III</title>
    <!-- favicons for all devices -->

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png?v=3e8AboOwbd">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?v=3e8AboOwbd">
    <link rel="manifest" href="site.webmanifest?v=3e8AboOwbd">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#3c8dbc">
    <link rel="shortcut icon" href="favicon.ico?v=3e8AboOwbd">
    <meta name="apple-mobile-web-app-title" content="Firefly III">
    <meta name="application-name" content="Firefly III">
    <meta name="msapplication-TileColor" content="#3c8dbc">
    <meta name="msapplication-TileImage" content="mstile-144x144.png?v=3e8AboOwbd">
    <meta name="theme-color" content="#3c8dbc">
<link href="v2/js/0.js" rel="prefetch"><link href="v2/js/1.js" rel="prefetch"><link href="v2/js/10.js" rel="prefetch"><link href="v2/js/11.js" rel="prefetch"><link href="v2/js/12.js" rel="prefetch"><link href="v2/js/13.js" rel="prefetch"><link href="v2/js/14.js" rel="prefetch"><link href="v2/js/15.js" rel="prefetch"><link href="v2/js/16.js" rel="prefetch"><link href="v2/js/17.js" rel="prefetch"><link href="v2/js/18.js" rel="prefetch"><link href="v2/js/19.js" rel="prefetch"><link href="v2/js/2.js" rel="prefetch"><link href="v2/js/20.js" rel="prefetch"><link href="v2/js/21.js" rel="prefetch"><link href="v2/js/22.js" rel="prefetch"><link href="v2/js/23.js" rel="prefetch"><link href="v2/js/24.js" rel="prefetch"><link href="v2/js/25.js" rel="prefetch"><link href="v2/js/26.js" rel="prefetch"><link href="v2/js/27.js" rel="prefetch"><link href="v2/js/28.js" rel="prefetch"><link href="v2/js/29.js" rel="prefetch"><link href="v2/js/3.js" rel="prefetch"><link href="v2/js/30.js" rel="prefetch"><link href="v2/js/31.js" rel="prefetch"><link href="v2/js/32.js" rel="prefetch"><link href="v2/js/33.js" rel="prefetch"><link href="v2/js/34.js" rel="prefetch"><link href="v2/js/35.js" rel="prefetch"><link href="v2/js/36.js" rel="prefetch"><link href="v2/js/37.js" rel="prefetch"><link href="v2/js/38.js" rel="prefetch"><link href="v2/js/39.js" rel="prefetch"><link href="v2/js/4.js" rel="prefetch"><link href="v2/js/5.js" rel="prefetch"><link href="v2/js/6.js" rel="prefetch"><link href="v2/js/7.js" rel="prefetch"><link href="v2/js/8.js" rel="prefetch"><link href="v2/js/9.js" rel="prefetch"></head>

<body>
<noscript>
    <strong>We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="v2/js/chunk-vendors.js" integrity="sha384-aNhR5cvVKZZfRY8fYxltsFE5jhUvjLh/lIL/h25nQg4uOwSsK0fJtxUqYsm+W3sg"></script><script type="text/javascript" src="v2/js/app.js" integrity="sha384-wSPPIsFhd+4GQ+wJKkCRnyHbNJ+qxCcN4+euU/Z0cn5qpT/xx1Gbri7PFZ+wi2fw"></script></body>

</html>
